{% extends 'base.html' %}
{% block content %}
<div class="detail post-div-{{post.boast}}">
    {{ghostpost.pk}}
    {% if private %}
    <h2 class="delete-post">TO DELETE THIS POST, <a href="{% url 'delete' private_url=ghostpost.private_url%}">CLICK HERE</a></h2>
    {% endif %}
    <br />
    <button class="upvote-button"><a href="{% url 'upvotes_detail' pk=ghostpost.pk %}">Upvote</a></button>
    <button class="downvote-button"><a href="{% url 'downvotes_detail' pk=ghostpost.pk %}">Downvote</a></button>
    <span class="post-score"> {{ ghostpost.score }} </span>
    <span class="post-type-{{ghostpost.boast}}"">{% if ghostpost.boast %} BOAST {% else %} ROAST {% endif %} </span>
    <span class="post-text">{{ ghostpost }}</span>
    </div>
{% endblock %} 