html {
    background-image: url("http://www.vignette2.wikia.nocookie.net/creepypasta/images/8/80/Creepycemetery.jpg/revision/latest?cb=20131013135547");
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
    width: 50em;
    margin: auto;
}

a {
    color: rgb(59, 59, 59);
}

/*Rounded tabs following this tutorial: 
https://css-tricks.com/better-tabs-with-round-out-borders/ */
.sort-and-filter-buttons {
    display: flex;
    flex-wrap: wrap;
}

.filter-tabs {
    text-align: center;
    list-style: none;
    margin: 0px 0px 0px 5px;
    padding: 0;
    line-height: 24px;
    position: relative;
}

.filter-tab {
    border: 1px solid rgb(201, 201, 201);
    background: linear-gradient(to bottom, rgb(59, 59, 59) 50%, rgb(36, 36, 36) 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-shadow: 0 1px rgb(0,0,0);
    margin: 0 -3px;
    padding: 0 20px;
}

.filter-tab a {
    color: rgb(201, 201, 201);
}

.selected-tab {
    background: rgba(201, 201, 201, 100%);
}

.selected-tab a{
    color: rgb(59, 59, 59);
}

.selected-tab {
    z-index: 2;
    border-bottom-color: #FFF;
}



.filter-tabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgb(201, 201, 201)
}

.filter-tabs:before {
    z-index: 1;
}

.filter-tabs:before, .filter-tabs:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}

.filter-tab:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px;
    box-shadow: -2px 2px 0 rgb(59, 59, 59);
}

.filter-tab:after{
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 rgb(59, 59, 59);
}

.filter-tab:after, .filter-tab:before{
    border: 1px solid rgb(201, 201, 201);
}

.selected-tab:before {
    box-shadow: 2px 2px 0 rgb(201, 201, 201);
}
.selected-tab:after {
    box-shadow: 2px 2px 0 rgb(201, 201, 201);
}

/*End from rounded tab tutorial*/

.sort-form{
    margin: 0px 0px 0px 5px;
    background-color: rgba(201, 201, 201, 75%);
}

.ghostposts{
    border: 1px solid white;
    border-radius: 1%;
}

.post-div{
    margin: 5px;
}

.delete-post {
    border: 3px solid black;
    background-color: rgba(255, 0, 0, 75%);
}

.make-ghost-post {
    border: 3px solid black;
}

.page-title {
    color: rgb(201, 201, 201);
    background-color: rgb(59, 59, 59);
    width: 5.5em;
}

.page-content {
    background-color: rgba(201, 201, 201, 75%);
    color: rgb(33, 33, 33);
}

.post-div-True{
    background-color: rgba(201, 201, 201, 75%);
    color: blue;
}
.upvote-button {
    background: linear-gradient(to bottom, rgb(219, 64, 3) 50%, rgb(247, 72, 3) 75%);
    margin-left: auto;
    margin-right: auto;
    width: 3px;
}

.downvote-button {
    background: linear-gradient(to bottom, rgb(86, 3, 219) 50%, rgb(97, 3, 247) 75%);
    margin-left: auto;
    margin-right: auto;
    width: 3px;
}

.upvote-button a, .downvote-button a{
    color: black;
    text-decoration: none;

    margin-left: -5;
}

.detail {
    display: flexbox;
}
.post-div-False{
    background-color: rgba(201, 201, 201, 75%);
    color: purple;
}
.post-type-False, .post-type-True {
    font-weight: bolder;
}
.footer {
    color: rgb(201, 201, 201);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(59, 59, 59);
    width: 10em;
}

.footer a {
    color: white;
    font-weight: bold;
}